@model IEnumerable<LibrarySystem.Models.Book>

<h2>Books</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Publisher</th>
            <th>Available Copies</th>
            <th>Total Copies</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
               
                
                <td>@book.AvailableCopies</td>
                <td>@book.TotalCopies</td>
                <td>
                    <a href="/Book/Edit/@book.BookId">Edit</a> |
                    <a href="/Book/Delete/@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Book/Add">Add New Book</a>
